$color-azul: #0075e0;
$color-amarillo: #ff8f47;
$color-navbar: #f1f1f1;
$color-negro: #000000;

body {
    font-family: 'Poppins', sans-serif !important;
}

.navbar {
    background-color: $color-navbar;
}
#navegacion {
    height: 100%;
}

.navbar-brand{
    font-weight: bold;
}
.navbar-brand > h1{
    color:$color-azul;
}
h1> span{
    color: $color-amarillo;
}

.navbar-nav {
    font-size: 20px;
    color: $color-negro;
}

.btn{
    border-radius: 15px !important;
}

.collapse {
    justify-content: center;
}

.banner {
    height: 105px;
    background-color: yellow;
    padding: 34px 5px;
    
    background-image: url(/assets/images/Rectangle.svg);
}

.banner > h1 {
    font-size: 20px;
    margin: 0;
    color: white;
    text-align: right;
}
.banner > button {
    font-size: 15px;
    background-color: #e30303;
    padding: 1px 20px;
    color: white;
    margin-left: 200px;
}   

@media (min-width: 1200) {
    .banner {
        height: 105px;
        padding: 34px 5px;
        
        background-image: url(/assets/images/Rectangle.svg);
    }
    
    .banner > h1 {
        font-size: 15px;
        margin: 0;
        color: white;
        text-align: right;
    }
    .banner > button {
        font-size: 15px;
        background-color: #e30303;
        padding: 1px 20px;
        color: white;
        margin-left: 200px;
    }   
}

#btnLR {
   height: 100px;
   margin: 3px 0;
   padding: 30px 0;
}
