<section class="section-nosotros bg-primary animated fadeIn">
    <div class="container-fluid">
      <div class="row">
        <div class="imagen-nosotros col-12  d-flex  flex-column justify-content-center align-items-center p-md-4">
          <div class="title-nosotros  mb-3 mb-md-1 ml-md-5  align-self-md-start  border border-white">
            <h1>Nosotros</h1>
          </div>
          <div class="text-center text-white m-md-3 mt-2">
            <p class="text-justify">
              Si bien muchos sectores se han visto afectados por las medidas de sanidad adoptadas debido a la pandemia del convid-19, ya se están tomando cartas en el asunto para reactivarlos paulatinamente. Ese es el caso del turismo interno, que poco a poco volverá a sus actividades hasta llegar a la normalidad.

              El turismo es el tercer generador de divisas en el Perú, y hoy está detenido debido a la situación del covd-19. Este sector brinda empleos directos e indirectos, y hay economías locales que dependen netamente de esta actividad. Frente a esta situación, muchos expertos en el rubro sugieren tomar medidas que ayudarán a recuperar el protagonismo de la industria.

              Los entendidos del sector identifican como crucial promover una fuerte campaña para promover el turismo interno cuando la situación sanitaria mejore. Incentivar a visitar los destinos del Perú será clave para que la economía vuelva a recuperar su flujo.

              Para que los viajeros vuelvan a recuperar la confianza en trasladarse por el país, las empresas del sector turismo tendrán que ser transparentes al brindar la información, ya que de ese modo generarán seguridad. En muchos casos se dará información a tiempo real, lo cual será un apoyo para los turistas. Asimismo, la colaboración con las autoridades de salud será un arma de mucho poder para que la seguridad sea lo primero que prime en la industria.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-form bg-primary">
      <div class="row m-3 p-2">
        <div
          class="consulta col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-md-center text-white">
          <p>¿NECESITAS <br>una <br> <span class="font-weight-bold">CONSULTA?</span></p>
        </div>
        <div class="formulario col-12 col-md-6 px-md-5 px-2 pt-md-5 pt-2">
          <form action="" class="d-flex flex-column">
            <div class="form-group">
              <input type="text" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Teléfono" class="form-control">
            </div>
            <div class="form-group">
              <input type="email" placeholder="Email" class="form-control">
            </div>
            <div class="boton-form form-group d-flex justify-content-md-end justify-content-start">
              <button type="button" placeholder="Nombre" class="btn btn-primary border-white">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
