<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <!--SafeTravel.pe -->
                <div class="col-xs-12 col-sm-12 col-md-12 item " style="text-align: center;">
                    <p> <a [routerLink]="['/']"><span class="safe">Safe</span><span class="travel">Travel.pe</span></a></p>
                </div>

                <!--Iconos de Redes Sociales -->
                <div class="col item social ">
                    <a href="#"><i class="fab fa-facebook-f fa-2x  f_text"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x  f_text"></i></a>
                    <a href="#"><i class="fab fa-youtube fa-2x  f_text"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x  f_text"></i></a>
                    <a href="#"><i class="fab fa-tiktok fa-2x f_text"></i></a>
                </div>
                <!--Línea horizontal naranaja-->
                <div class="col-xs-12 col-md-12 col-sm-12   linea "></div>


                <!--Términos, Políticas, Preferencias y Derechos reservados -->
                <div class="col-sm-12 col-md-12">
                    <p class="text-footer">
                        <br>
                        <span><a href="#" class="f_text"> Terminos y condiciones</a></span> -
                        <span><a href="#" class="f_text"> Políticas de privacidad</a></span> -
                        <span><a href="#" class="f_text"> Preferencias de cookies </a></span>
                        <br>

                <!--Copyright-->
                    <p style="color:#0075E0; text-align: center;">SafeTeavel.pe ©2021 | Todos los derechos
                        reservados</p>

                </div>

            </div>
            
        </div>
    </footer>
</div>